<div class="record-button-container">
  <div class="wave" [class]="isRecording ? 'wave_play' : 'wave_stop'">
  <button class="record-button" (click)="toggleRecording()">
    <i class="{{ speaking ? 'fas fa-volume-up' : (isRecording ? 'fas fa-stop' : 'fas fa-play') }} {{ speaking ? 'faa-pulse animated' : '' }}"></i>
    <div class="ripple"></div>
  </button>
  </div>
  <button class="stop_speaking" *ngIf="speaking" (click)="stopSpeaking()">
    <i class="{{ speaking ? 'fas fa-stop' : '' }}"></i>
  </button>
</div>

<div class="text-container">
  <h1>Reponse de l'ia</h1>
  <p>{{response}}</p>
</div>
